.projects {
  background: var(--background-two);
  padding: 2rem;
}

.course-option {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  position: relative;

  .option-indicator {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    &.active {
      background-color: #3498db;
      color: #fff;
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
    }

    &.inactive {
      background-color: #ccc;
      color: #666;
    }
  }

  .checkmark-icon {
    font-size: 20px;
  }

  .progress-line {
    position: absolute;
    height: 8px;
    width: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &.active {
      background-color: #3498db;
    }

    &.inactive {
      background-color: #ccc;
    }
  }

  .option-text {
    padding: 0.75rem;
    font-size: 20px;
    cursor: pointer;
    color: var(--main-text-color);
    transition: color 0.3s ease-in-out;

    &.active,
    &.inactive {
      color: hwb(221 7% 4%);
    }

    &:hover {
      color: #3498db;
    }
  }
}
